{% extends "template.html.twig" %}
{% block title %}{{ parent() }} | Add Page{% endblock %}

{% block content %}
    <div class="mb-5 mt-12">
        <div class="container mx-auto max-w-sm shadow-md dark:shadow-white px-6 sm:px-10 bg-white dark:bg-gray-800 border-blue-400 rounded-md">
            <div>
                <h1 class="text-center text-2xl sm:text-3xl font-bold text-gray-900 dark:text-white">
                    Add Page
                </h1>
                <form action="" method="POST">
                    <label>
                        <input type="text" class="hidden" name="csrf:csrf_token" value="{{ csrfToken }}">
                    </label>
                    <div class="my-2">
                        <label for="pageName"
                               class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">
                            Name
                        </label>
                        <input type="text"
                               name="str:page_name"
                               class="input-standard w-full"
                               id="pageName"
                               autofocus
                               required>
                    </div>
                    <div class="my-2 hidden">
                        <label for="slugName"
                               class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">
                            Slug
                        </label>
                        <input type="text"
                               name="str:page_slug"
                               class="input-standard w-full"
                               id="slugName"

                               required>
                    </div>
                    <div class="my-2">
                        <label for="pageParent"
                               class="text-sm sm:text-md font-bold text-gray-700 dark:text-gray-300">
                            Parent
                        </label>
                        <select class="select-standard w-full" name="int:page_parent" id="pageParent" required>
                            <option value=""></option>
                            {% for theme in subThemes %}
                                <option value="{{ theme.getSubcatId }}">{{ theme.getSubcatName }} - {{ theme.getSubcatParent }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flex justify-center">
                        <button class="button-standard"
                                name="unset:addNewPage"
                                type="submit">
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ PUB_DIR }}scripts/slugMaker.js"></script>
{% endblock %}