{% extends "template.html.twig" %}
{% block title %}{{ parent() }} | Build{% endblock %}
{% block sideBar %}{% endblock %}
{% block content %}

    {% if pageDetails is null %}
        <div class="mt-24">
            <h1 class="head-1-center">This page doesn't exist yet&excl;</h1>
            <h3 class="text-2xl underline"><a href="?route=admin">Home</a></h3>
        </div>
    {% else %}
        <div class="mt-16 mb-6">
            <h1 class="head-1-center underline">Building {{ pageDetails.getPageName }}</h1>
        </div>
        <form method="post" class="ms-12">
        {% for block in pageBlocks %}
            <{{ block.getTagName }} class="{{ block.getBlockClass }}">{{ block.getBlockContent }}
            {% if block.getTagNoClose == false %}</{{ block.getTagName }}>{% endif %}
            {% if loop.last %}
                <input type="hidden" name="int:block_position" value="{{ block.getBlockPosition +100 }}">
            {% endif %}
        {% endfor %}

            <input type="hidden" name="csrf:csrf_token" value="{{ csrfToken }}" required>
            <input type="hidden" name="int:block_page_id" value="{{ pageDetails.getPageId }}">
            <div class="flex flex-row items-center gap-x-4">
                <label for="htmlTagName">Tag :</label>
                <select name="int:block_html_tag"
                        id="htmlTagName" class="select-standard"
                        required>
                    <option value="4">p</option>
                    {% for tag in tags %}
                        <option value="{{ tag.getTagId }}">{{ tag.getTagName }}</option>
                    {% endfor %}
                </select>
                <label for="htmlClass">Class</label>
                <input type="text"
                       name="str:block_class"
                       id="htmlClass"
                       class="input-standard w-[15%]" required>
                <label for="htmlText">Text</label>
                <input type="text"
                       name="str:block_content"
                       id="htmlText"
                       class="input-standard w-[60%]"
                       required>
            </div>
            <button class="px-4 py-1 bg-blue-400 rounded-md
                            text-black text-sm sm:text-lg shadow-md mb-4"
                    name="unset:addNewBlock"
                    type="submit">
                Add
            </button>
        </form>
    {% endif %}
{% endblock %}